name: Sync

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-slim
    steps:
      - uses: tgymnich/fork-sync@v2
        with:
          auto_merge: false